html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on the page */
}
body { font-family: 'Inter', sans-serif; }
.prose-font { font-family: 'Lora', serif; }

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10; /* Map is on the bottom */
}
.leaflet-interactive {
    cursor: pointer;
}
.leaflet-tile-pane {
    filter: saturate(85%) grayscale(15%) sepia(20%);
}

/* Custom scrollbar for the diary panel */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
#stage-description p + p {
    margin-top: 1em;
}

#stage-photo {
    height: auto;
}
#stage-photo img {
    max-height: 300px;
    width: 100%;
    height: auto;
}

#story-content {
    transition: opacity 0.2s ease-in-out;
}
#story-content.content-fading {
    opacity: 0;
}

.marker-cluster {
    background-color: transparent;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 30px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.marker-cluster::before {
    background-color: transparent !important;
}